@import url(../feinman/__link/feinman__link.css);
@import url(../feinman/__subtitle/feinman__subtitle.css);
@import url(../feinman/__title/feinman__title.css);
.feinman {
    position: relative;
    height: 790px;
    background-color: #F2F2F2;
    background-image: url(../feinman/feinman.png);
    background-repeat: no-repeat;
    background-size: 867px 637px;
    background-position: bottom left;
    
  
}