@import url(../section-title/_theme/section-title_theme_dark.css);
.section-title {
    margin-top: 100px;                  
    margin-bottom: 20px;
    display: flex;  
    justify-content: center;
    line-height: 69px;
    font-size: 60px;
      }